body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: rgb(251, 177, 250);
}

header {
  background: #be0d0d;
  color: rgb(243, 230, 235);
  padding: 10 px 0;
}

nav {
  text-align: center;
  color: #d81414;
  padding: 15 px;
}

main {
  padding: 20 px;
}
